<div class="container">
	<h1>Lista de productos</h1>

	<a href="/producto/c">
		<button>Crear</button>
	</a>

	<a href="/">
		<button>Cancelar</button>
	</a>

	<table class="table table-striped">
		<tr>
			<th>Foto</th>
			<th>Nombre</th>
			<th>Categoria</th>
			<th>Acción</th>
		</tr>

		<tr th:each="producto:${productos}">
			<td>
				<img th:if="${producto.foto != null}" th:src="|/img/upload/producto/producto-${producto.id}.${producto.foto}|" height=100px width=100px/> 
				<img th:if="${producto.foto == null}" src="/img/noimage.png" height=100px width=100px/> 
			</td>
			<td th:text="${producto.nombre}"></td>
			<td th:text="${producto.categoria.nombre}"></td>
			<td class="row">
				<form action="/producto/u" method="get">
					<input type="hidden" name="id" th:value="${producto.id}" />
					<input type="hidden" name="nombre" th:value="${producto.nombre}" />
					<input type="hidden" name="stock" th:value="${producto.stock}" />
					<input type="hidden" name="precio" th:value="${producto.precio}" />
					<input type="hidden" name="idCategoria" th:value="${producto.categoria.id}" />
					<input type="hidden" name="nombreCategoria" th:value="${producto.categoria.nombre}" />
					<button onclick="submit()">
						<img src="/img/edit.png" height="20" width="20">
					</button>
				</form>
				  <form th:if="${producto.lineasDeVenta.size() == 0}" action="/producto/d" method="post" > 
					<input type="hidden" name="id" th:value="${producto.id}" />
					<button onclick="submit()">
						<img src="/img/delete.png" height="20" width="20">
					</button> 
				</form>
			</td>
		</tr>
	</table>
</div>